@import "normalize";

$breakpoint: 528px;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #222;
  line-height: 1.25;
  letter-spacing: 0.125px;
}

h1 {
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #ccc;
}

.container {
  width: 90%;
  margin: 0 auto;

  @media (min-width: $breakpoint) {
    width: 32rem;
  }
}

.profile-image {
  min-width: 200px;
  width: 200px;
  height: 200px;
  margin-right: 1rem;
}

hr {
  margin: 1.5rem 0;
  border-top: 0;
  border-color: #ccc;
}

code,
pre {
  background-color: #eee;
}

img {
  max-width: 100%;
}

pre {
  padding: 0.5rem;
  overflow-x: auto;
}

ul {
  padding-left: 1.25rem;
}

li {
  padding: 0.25rem 0;
}

a {
  &,
  &:visited {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
  }
  &:hover {
    color: #555;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: $breakpoint) {
    flex-direction: row;
  }
}
