<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% asset style.scss @inline %}
    <link rel="canonical" href="{{ site.canonical_host }}{{ page.url | replace:'index.html',''}}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% asset apple-icon-57x57.png @path %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% asset apple-icon-60x60.png @path %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% asset apple-icon-72x72.png @path %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% asset apple-icon-76x76.png @path %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% asset apple-icon-114x114.png @path %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% asset apple-icon-120x120.png @path %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% asset apple-icon-144x144.png @path %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% asset apple-icon-152x152.png @path %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% asset apple-icon-180x180.png @path %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% asset android-icon-192x192.png @path %}">
    <link rel="icon" type="image/png" sizes="144x144" href="{% asset android-icon-144x144.png @path %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% asset android-icon-96x96.png @path %}">
    <link rel="icon" type="image/png" sizes="72x72" href="{% asset android-icon-72x72.png @path %}">
    <link rel="icon" type="image/png" sizes="48x48" href="{% asset android-icon-48x48.png @path %}">
    <link rel="icon" type="image/png" sizes="36x36" href="{% asset android-icon-36x36.png @path %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% asset favicon-32x32.png @path %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% asset favicon-96x96.png @path %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% asset favicon-16x16.png @path %}">
    <link rel="icon" type="image/x-icon" href="{% asset favicon.ico @path %}" />
    <title>{{ site.title }}</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>
          {% if page.url == '/' %}
            {{ site.title }}
          {% else %}
            <a class="home-link" href="/">{{ site.title }}</a>
          {% endif %}
        </h1>
      </div>
    </header>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
    {% include analytics.html %}
  </body>
</html>
